extends ../layout/index

block content
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Real
      span.font-normal estate
    h2.text-center.text-2xl.font-extrabold= page

    div.mt-8.mx-auto.max-w-md
      .bg-white.py-8.px-4.shadow
        form.space-y-5
            div
              label.block.tetx-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Your Name
              input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Your Name" type="text" name="name")
            div
              label.block.tetx-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
              input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Your email" type="email" name="email")
            div
              label.block.tetx-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") password
              input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Your password" type="password" name="password")
            div
              label.block.tetx-sm.uppercase.text-gray-500.mb-2.font-bold(for="confirm_password") Confirm Password"
              input#confirm_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Confirm Password" type="password" name="confirm_password")
