extends ../layout/index

block content
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Real
      span.font-normal estate
    h2.text-center.text-2xl.font-extrabold= page

    if errors
      div(class="max-w-md mx-auto my-10")
        each error in errors
          p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

    div.mt-8.mx-auto.max-w-md
      .bg-white.py-8.px-4.shadow
        form.space-y-5(method="POST" action="/auth/signin" noValidate)
            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Your Name
              input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Your Name" type="text" name="name" value= user.name ? user.name : "")

            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
              input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Your email" type="email" name="email" value= user.email ? user.email : "")
            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") password
              input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Your password" type="password" name="password")
            div
              label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="confirm_password") Confirm Password
              input#confirm_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder= "Confirm Password" type="password" name="confirm_password")

            div.flex.items-center.justify-between
              a.text-gray-500.text-tx(href="/auth/login") already have an account?
              a.text-gray-500.text-tx(href="/auth/reset-password") forgot my password
            input( class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor cursor-pointer" type="submit" value="Create new account")
