extends ../layout/index

block content
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Real
      span.font-normal Estate
    h2.text-center.text-2xl.font-extrabold= page

    div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
        form.space-y-8
            div.space-y-5
                h3.text-lg.leading-6.font-medium.text-gray-900 General information
                p.text-gray-600 Add information about the property

                div
                    label.block.tetx-sm.uppercase.text-gray-500.mb-2.font-bold(for="title") Title of my property advertisement
                    input#title.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Title advertisement,e.g My house on the beach", type="text", name="title")
